# Fichiers de données et artefacts de modèles
*.csv
*.pkl
dataset_artifact/

# Suivi MLflow
mlruns/
mlartifacts/

# Environnements virtuels et cache Python
.venv/
venv/
**/__pycache__/
*.pyc

# Infrastructure et volumes Docker locaux
grafana_storage/

# Sécurité (Identifiants et secrets locaux)
.env
api_password.txt

# Fichiers système (Mac/Windows)
.DS_Store
Thumbs.db

# Scripts de tests et de simulation
scripts/